{% extends 'classified/base/base.html' %}

{% block title %} 
    Register
{% endblock %}

{% load static %}


{% block main-content %}



<div class="container" style="padding-top: 5px;">
    <div class="row">
        <div class="col-sm-3 page-sidebar">
            <aside>
                <div class="inner-box">
                    <div class="user-panel-sidebar">
                        <div class="collapse-box">
                            <h5 class="collapse-title no-border"> My Account 
                                <a href="#MyAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a>
                            </h5>
                            <div class="panel-collapse collapse in" id="MyAccount">
                                <ul class="acc-list">
                                    <li><a class={{profile_tab_active}} href=""><i class="icon-home"></i> My Profile </a></li>
                                    <li><a href=""><i class="icon-home"></i> Payment History </a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                        <div class="collapse-box">
                            <h5 class="collapse-title"> My Ads 
                                <a href="#MyAds" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a>
                            </h5>

                            <div class="panel-collapse collapse in" id="MyAds">
                                <ul class="acc-list">
                                    <li><a href=""><i class="icon-docs"></i> 
                                        Active Ads <span class="badge">42</span> 
                                    </a></li>
                                    <li><a href=""><i class="icon-heart"></i> 
                                        Favourite Ads <span class="badge">42</span> 
                                    </a></li>
                                    <li><a href=""><i class="icon-hourglass"></i> 
                                        Pending Approval <span class="badge">42</span>
                                    </a></li>
                                    <li><a href=""><i class="icon-hourglass"></i> 
                                        Expired Ads <span class="badge">42</span>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->

                        <div class="collapse-box">
                            <h5 class="collapse-title"> Terminate Account 
                                <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a>
                            </h5>

                            <div class="panel-collapse collapse in" id="TerminateAccount">
                                <ul class="acc-list">
                                    <li><a href=""><i class="icon-cancel-circled "></i> 
                                        Close My Account 
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.collapse-box  -->
                    </div>
                </div>
                <!-- /.inner-box  -->
            </aside>
        </div>
        <!--/.page-sidebar-->


        <div class="col-sm-9 page-content">
            <div class="inner-box">
                <div class="row">
                    <div class="col-md-5 col-xs-4 col-xxs-12">
                        <h3 class="no-padding text-center-480 useradmin">
                            <a href=""><img class="userImg" src="{{user_profile.photo}}" alt="user"> {{user_profile}} </a></h3>
                    </div>
                    <div class="col-md-7 col-xs-8 col-xxs-12">
                        <div class="header-data text-center-xs">

                            <!-- Traffic data -->
                            <div class="hdata">
                                <div class="mcol-left">
                                    <!-- Icon with red background -->
                                    <i class="fa fa-eye ln-shadow"></i></div>
                                <div class="mcol-right">
                                    <!-- Number of visitors -->
                                    <p><a>7000</a> <em>Visits</em></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- revenue data -->
                            <div class="hdata">
                                <div class="mcol-left">
                                    <!-- Icon with green background -->
                                    <i class="icon-th-thumb ln-shadow"></i></div>
                                <div class="mcol-right">
                                    <!-- Number of visitors -->
                                    <p><a href="">12</a><em>Ads</em></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- revenue data -->
                            <div class="hdata">
                                <div class="mcol-left">
                                    <!-- Icon with blue background -->
                                    <i class="fa fa-heart ln-shadow"></i></div>
                                <div class="mcol-right">
                                    <!-- Number of visitors -->
                                    <p><a href="">18</a> <em>Favorites </em></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inner-box">
                <div class="welcome-msg">
                    <h3 class="page-sub-header2 clearfix no-padding">Hello {{user_profile}} </h3>
                    <span class="page-sub-header-sub small">You last logged in at: {{user_profile.user.last_login}} Canada/Estern Time</span>
                </div>
                <div id="accordion" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> My Details </a></h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseB1">
                            <div class="panel-body">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ user_form.first_name.label_tag|title }}
                                            <div class="input-icon"> <i class="fa-user fa"></i> {{ user_form.first_name }} </div>
                                            {% for error in user_form.first_name.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ user_form.last_name.label_tag|title }}
                                            <div class="input-icon"> <i class="fa-user fa"></i> {{ user_form.last_name }} </div>
                                            {% for error in user_form.last_name.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ user_form.email.label_tag|title }}
                                            <div class="input-icon"> <i class="fa-envelope fa"></i> {{ user_form.email }} </div>
                                            {% for error in user_form.email.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="textarea"> Picture </label>
                                            <div class="col-md-12">
                                                <div class="mb10">
                                                    <input id="input-upload-img1" type="file" class="file"
                                                           data-preview-file-type="text" name="profile_pic" accept="image/*">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <hr>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ address_form.street_no.label_tag|title }}
                                            <div class="input-icon"> <i class="fa fa-map-marker"></i> {{ address_form.street_no }} </div>
                                            {% for error in address_form.street_no.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ address_form.street_name.label_tag|title }}
                                            <div class="input-icon"> <i class="fa fa-map-marker"></i> {{ address_form.street_name }} </div>
                                            {% for error in address_form.street_name.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ address_form.unit_no.label_tag|title }}
                                            <div class="input-icon"> <i class="fa fa-map-marker"></i> {{ address_form.unit_no }} </div>
                                            {% for error in address_form.unit_no.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ address_form.city.label_tag|title }}
                                            <div class="input-icon"> <i class="fa fa-map-marker"></i> {{ address_form.city }} </div>
                                            {% for error in address_form.city.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ address_form.postal_code.label_tag|title }}
                                            <div class="input-icon"> <i class="fa fa-map-marker"></i> {{ address_form.postal_code }} </div>
                                            {% for error in address_form.postal_code.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.phone.label_tag|title }}
                                            <div class="input-icon"> <i class="fa fa-phone"></i> {{ profile_form.phone }} </div>
                                            {% for error in profile_form.phone.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <hr>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.facebook.label_tag|title }}
                                            <div class="input-icon"> <i class="fa-facebook fa"></i> {{ profile_form.facebook }} </div>
                                            {% for error in profile_form.facebook.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.twitter.label_tag|title }}
                                            <div class="input-icon"> <i class="fa-twitter fa"></i> {{ profile_form.twitter }} </div>
                                            {% for error in profile_form.twitter.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Id_Linkedin">LinkedIn:</label>
                                            <div class="input-icon"> <i class="fa-linkedin fa"></i> {{ profile_form.linkedIn }} </div>
                                            {% for error in profile_form.linkedIn.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.google.label_tag|title }}
                                            <div class="input-icon"> <i class="fa-google fa"></i> {{ profile_form.google }} </div>
                                            {% for error in profile_form.google.errors %} <p style="color: red">{{ error }} </p>
                                            {% endfor %}
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        {% for error in profile_form.non_field_errors %}
                                          <p style="color: red">{{ error }}</p>
                                        {% endfor %}

                                        {% for error in address_form.non_field_errors %}
                                          <p style="color: red">{{ error }}</p>
                                        {% endfor %}

                                        <div class="form-group" style="text-align: center;">
                                            <input type="submit" class="btn btn-primary" value="Update">
                                        </div> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#collapseB2" data-toggle="collapse"> Change Password </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseB2">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Current Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Confirm Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-default">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.row-box End-->

            </div>
        </div>
        <!--/.page-content-->
    </div>
    <!--/.row-->
</div>
<!--/.container-->


{% endblock %}



{% block page_specific_scripts %} 
<script>
    $("#input-upload-img1").fileinput({
        'showUpload': false,
        'showCaption': false,
        // 'showPreview': false
    });
</script>
{% endblock %}

