{% load staticfiles %}


<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<script src="{% static 'classified/assets/bootstrap/js/bootstrap.min.js' %}"></script>


<!-- include jquery file upload plugin  -->
<script src="{% static 'classified/assets/js/fileinput.min.js' %}"></script>


<!-- include carousel slider plugin  -->
<script src="{% static 'classified/assets/js/owl.carousel.min.js' %}"></script>


<!-- include equal height plugin  -->
<script src="{% static 'classified/assets/js/jquery.matchHeight-min.js' %}"></script>

<!-- include jquery list shorting plugin plugin  -->
<script src="{% static 'classified/assets/js/hideMaxListItem.js' %}"></script>


<!-- bxSlider Javascript file -->
<script src="{% static 'classified/assets/plugins/bxslider/jquery.bxslider.min.js' %}"></script>
<script>
    $('.bxslider').bxSlider({
        pagerCustom: '#bx-pager'
    });
</script>

<!-- include jquery.fs plugin for custom scroller and selecter  -->
<script src="{% static 'classified/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js' %}"></script>
<!-- <script src="{% static 'classified/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js' %}"></script> -->

<!-- include custom script for site  -->
<script src="{% static 'classified/assets/js/script.js' %}"></script>

