{% load staticfiles %}


<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<script src="{% static 'classified/assets/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- include carousel slider plugin  -->
<script src="{% static 'classified/assets/js/owl.carousel.min.js' %}"></script>


<!-- include equal height plugin  -->
<script src="{% static 'classified/assets/js/jquery.matchHeight-min.js' %}"></script>

<!-- include jquery list shorting plugin plugin  -->
<script src="{% static 'classified/assets/js/hideMaxListItem.js' %}"></script>


<!-- bxSlider Javascript file -->
<script src="{% static 'classified/assets/plugins/bxslider/jquery.bxslider.min.js' %}"></script>
<script>
    $('.bxslider').bxSlider({
        pagerCustom: '#bx-pager'
    });
</script>

<!-- include jquery.fs plugin for custom scroller and selecter  -->
<script src="{% static 'classified/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js' %}"></script>
<!-- <script src="{% static 'classified/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js' %}"></script> -->


<!-- include custom script for site  -->
<script src="{% static 'classified/assets/js/script.js' %}"></script>


<style type="text/css">
	.selectpicker {
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    text-indent: 0.1;
	    text-overflow: '';
	    border: none;
	    border-radius: none;
	    background: none;
	    line-height: 30px;

	}
</style>


<script type="text/javascript">
	
$('#filter_by_price').on('submit', function(event){
    event.preventDefault();
    filter_by_price();
});


$('#posted_1').on('click', function(event){
	url = "./"+$('#FILTERS').val()+"posted_within=1day&"
    $.ajax({
        url : ""+$('#FILTERS').val()+"posted_within=1day&", // the endpoint
        type : "GET", // http method
        // handle a successful response
        success : function(json) {
        	console.log(url);
            window.location = url;
        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
        	url = "./"+$('#FILTERS').val()
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console

        	// window.location = url;
        }
    });
});



// AJAX for filtering by price
function filter_by_price() {
	minPrice = $('#minPrice').val()
	maxPrice = $('#maxPrice').val()
	if (!minPrice || !$.isNumeric(minPrice)) {
		minPrice = 0;
		$('#minPrice').val('');
	} 
	if (!maxPrice || !$.isNumeric(maxPrice)) {
		maxPrice = 999999;
		$('#maxPrice').val('');
	} 

	url = ""+$('#FILTERS').val()
	if (minPrice == 0 && maxPrice == 999999){
		url = ""+$('#FILTERS').val()
	}
	else if (minPrice == 0) {
		if (maxPrice != $('#maxPrice').attr("oldv")) {
			url = ""+$('#FILTERS').val()+"maxPrice="+maxPrice+"&"
		}
	}
	else if (maxPrice == 999999) {
		if (minPrice != $('#minPrice').attr("oldv")) {
			url = ""+$('#FILTERS').val()+"minPrice="+minPrice+"&"
		}
	}
	else {
		if (maxPrice == $('#maxPrice').attr("oldv") && minPrice == $('#minPrice').attr("oldv") ) {
			return
		}
		else if (minPrice != $('#minPrice').attr("oldv") && maxPrice != $('#maxPrice').attr("oldv")) {
			url = ""+$('#FILTERS').val()+"minPrice="+minPrice+"&"+"maxPrice="+maxPrice+"&"
		}
		else if (minPrice != $('#minPrice').attr("oldv")) {
			url = ""+$('#FILTERS').val()+"minPrice="+minPrice+"&"
		}
		else {
			url = ""+$('#FILTERS').val()+"maxPrice="+maxPrice+"&"
		}

	}
    $.ajax({
        url : "./"+$('#FILTERS').val()+"minPrice="+minPrice+"&maxPrice="+maxPrice+"&", // the endpoint
        type : "GET", // http method
        // handle a successful response
        success : function(json) {
        	// history.pushState(null, null, url);
        	// window.location.reload()
            window.location = url;
        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
        	url = "./"+$('#FILTERS').val()
        	window.location = url;
        }
    });


};

</script>