{% load static %}

<div class="header">
    <nav class="navbar   navbar-site navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a href="{% url 'classified:home' %}" class="navbar-brand logo logo-title" style="padding-top: 5px;">
                    <!-- Original Logo will be placed here  -->
                    <span class="logo-icon"><img src="{% static 'classified/assets/img/logo_circle.gif' %}" height="60px" width="60px"> </span>
                    Add2Z<span style="font-size: 20px;"> CLASSIFIEDS </span> </a></div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li type="button" class="btn btn-success" onclick="document.location.href='/accounts/login';">Sign In</li>
                    <li>&nbsp;</li>
                    <!-- <li><a href="signup.html">Signup</a></li> -->
                    <li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger"
                                           href="job-post.html">Post Ad</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- /.header -->
