{% load staticfiles %}


<div class="search-row-wrapper" style="background-image: url(); padding: 5px 0px; height: auto">
    <div class="container text-center" style="padding: 0px">
        <div class="col-sm-3">
            <input class="form-control keyword" type="text" placeholder="Search for anything...." id="searchParam" value="{{SEARCH_PARAM}}">
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="category" id="searchCategory">
                <option value="">All Categories</option>
                {% for main_category, sub_categories in AD_CATEGORIES.items %}
                    {% if SELECTED_MAIN_CATEGORY == main_category.id %}
                        <option selected value="main_category={{main_category.id}}">{{main_category}}</option>
                    {% else %}
                        <option value="main_category={{main_category.id}}">{{main_category}}</option>
                    {% endif %}
                    {% for sub_cat in sub_categories %}
                        {% if SELECTED_SUB_CATEGORY == sub_cat.id %}
                            <option selected value="sub_category={{sub_cat.id}}"> &nbsp;&nbsp;&nbsp;&nbsp;{{sub_cat}} </option> 
                        {% else %} 
                            <option value="sub_category={{sub_cat.id}}"> &nbsp;&nbsp;&nbsp;&nbsp;{{sub_cat}} </option> 
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="location" id="searchLocation">
                <option value="">All Locations</option>
                {% for province, cities in ALL_LOCATIONS.items %}
                    {% if SELECTED_PROVINCE == province %}
                        <option selected value="province={{province}}">{{province}}</option>
                    {% else %}
                        <option value="province={{province}}">{{province}}</option>
                    {% endif %}
                    {% for city in cities %}
                        {% if SELECTED_CITY == city %}
                            <option selected value="city={{city}}"> &nbsp;&nbsp;&nbsp;&nbsp;{{city}}</option>
                        {% else %}
                            <option value="city={{city}}"> &nbsp;&nbsp;&nbsp;&nbsp;{{city}}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-block btn-primary" style="margin-top: 2px;" id="filterButton"> Search <i class="fa fa-search"></i></button>
        </div>
    </div>
</div>


