{% load humanize %}
{% load active_filter %}



<div class="category-list">

    <div class="tab-box clearfix ">
        <!-- Mobile Filter bar -->
        <div class="mobile-filter-bar col-sm-12 "  style="text-align: center; border: none;">
            <ul class="list-unstyled list-inline no-margin no-padding">
                <li class="filter-toggle" style="text-align: center; border: none;"> <a class=""><i class="icon-th-list"></i>Filters </a> </li>
            </ul>
        </div>
        <div class="menu-overly-mask"></div>
        <!-- Mobile Filter bar End-->
    </div>
    <!--/.tab-box-->


    <div class="listing-filter" style="padding: 5px 0;">
        <div class="pull-left col-sm-12 col-xs-12 ">
            <div class="breadcrumb-list text-center-xs">
                {% with active_filters=NEW_FILTERS|active_filter %}
                {% for key,val in active_filters.items %}
                    <a class="jobs-s-tag" rel="nofollow" title="{{key}}" 
                    href='{% url "classified:remove-filter-listings" filters=NEW_FILTERS remove=val %}'>{{key}} </a>
                {% endfor %}
                {% endwith %}             
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <!--/.listing-filter-->


    <div class="adds-wrapper">
        {% for ad in ALL_TOP_ADS_AND_METAS %}
        <div class="item-list">
            <div class="cornerRibbons urgentAds"> <a href="#"> Top Ad</a> </div>
            {% include 'classified/listing/_display_listings_row.html' %}
        </div>
        {% endfor %}

        {% for ad in ALL_ADS_TUPLE %}
        <div class="item-list ">
            {% include 'classified/listing/_display_listings_row.html' %}
        </div>
        {% endfor %}
    </div>
    <!--/.adds-wrapper-->



    {% if ALL_ADS_TUPLE.has_other_pages %}
    <div class="pagination-bar text-center">
        <ul class="pagination">
            {% if ALL_ADS_TUPLE.has_previous %}
              <li><a href="?page={{ ALL_ADS_TUPLE.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in ALL_ADS_TUPLE.paginator.page_range %}
              {% if ALL_ADS_TUPLE.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if ALL_ADS_TUPLE.has_next %}
              <li><a href="?page={{ ALL_ADS_TUPLE.next_page_number }}" class="pagination-btn" >Next &raquo;</a></li>
            {% else %}
              <li class="disabled" class="pagination-btn"><span>Next &raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    <!--/.pagination-bar -->
    {% endif %}


</div>
