{% load filter_url %}

<!-- this (.mobile-filter-sidebar) part will be position fixed in mobile version -->
<aside>
    <div class="inner-box">
       <div class="hidden">
            <input type="text" id="NEW_FILTER_STRING" value="{{ NEW_FILTER_STRING }}">
        </div>

        <div class="categories-list  list-filter">
            <h5 class="list-title"><strong><a href="{% url 'classified:all-listings' %}">Category</a></strong></h5>
            <ul class=" list-unstyled long-list" id="main_cat">
                {% for main_cat in MAIN_CATEGORIES %}
                    {% with cat=main_cat.id|stringformat:"i"%}
                    {% with current_fitler="main_category="|add:cat %}
                        <li value='{{CURRENT_FILTERS|filter_url:current_fitler}}'><a>

                            {% if SELECTED_MAIN_CATEGORY == main_cat.id %}
                                <span class="title" style="font-weight: 700; color: #000;">{{main_cat.name}}</span>
                                <span class="count pull-right" style="font-weight: 700; color: #000;">&nbsp;({{main_cat.count}})</span>
                            {% else %}
                                <span class="title">{{main_cat.name}}</span>
                                <span class="count pull-right">&nbsp;({{main_cat.count}})</span>
                            {% endif %}
                        </a></li>
                    {% endwith %}
                    {% endwith %}
                            
                        <ul class="list-unstyled long-list" id="sub_cat">
                            {% for sub_cat in SUB_CATEGORIES %}
                                {% if sub_cat.parent_category.id == main_cat.id %}
                                    {% with cat=sub_cat.id|stringformat:"i"%}
                                    {% with current_fitler="sub_category="|add:cat %}
                                    <li value='{{CURRENT_FILTERS|filter_url:current_fitler}}'><a>
                                        {% if SELECTED_SUB_CATEGORY == sub_cat.id %}
                                            <span class="title" style="font-weight: 700; color: #000;">{{sub_cat.name}}</span>
                                            <span class="count pull-right" style="font-weight: 700; color: #000;">&nbsp;({{sub_cat.count}})</span>
                                        {% else %}
                                            <span class="title">{{sub_cat.name}}</span>
                                            <span class="count pull-right">&nbsp;({{sub_cat.count}})</span>
                                        {% endif %}
                                    </a></li>
                                    {% endwith %}
                                    {% endwith %}
                                 {% endif %} 
                            {% endfor %}   
                        </ul> 
                {% endfor %}
            </ul>
        </div>
        <!--/.categories-list-->


        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Location</a></strong></h5>
            <ul class="browse-list list-unstyled long-list" id="province">
                {% for province, cities in ALL_LOCATIONS.items %}
                    {% with current_fitler="province="|add:province %}
                    {% if SELECTED_PROVINCE == province %}
                        <li value='{{CURRENT_FILTERS|filter_url:current_fitler}}'><a style="font-weight: 700; color: #000;"> {{province}} </a></li>
                        <ul class="browse-list list-unstyled long-list" id="city">
                            {% for city in cities %}
                                {% with current_fitler="city="|add:city %}
                                {% if SELECTED_CITY == city %}
                                    <li value='{{CURRENT_FILTERS|filter_url:current_fitler}}'><a style="font-weight: 700; color: #000;"> {{city}} </a></li>
                                {% else %}
                                    <li value='{{CURRENT_FILTERS|filter_url:current_fitler}}'><a> {{city}} </a></li>
                                {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <li value='{{CURRENT_FILTERS|filter_url:current_fitler}}'><a> {{province}} </a></li>
                    {% endif %}
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
        <!--/.locations-list-->

        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Offer Range</a></strong></h5>

            <form role="form" class="form-inline" id="filter_by_price" action="listings" method="get">
                <div class="form-group col-sm-4 no-padding">
                    {% if MIN_PRICE %}
                        <input type="text" placeholder="$ MIN " id="minPrice" oldv={{MIN_PRICE}} class="form-control" value={{MIN_PRICE}} >
                    {% else %}
                        <input type="text" placeholder="$ MIN " id="minPrice" class="form-control" value={{MIN_PRICE}} >
                    {% endif %}
                </div>
                <div class="form-group col-sm-1 no-padding text-center hidden-xs"> </div>
                <div class="form-group col-sm-4 no-padding">
                     {% if MAX_PRICE %}
                        <input type="text" placeholder="$ MAX " id="maxPrice" oldv= {{MAX_PRICE}} class="form-control " value={{MAX_PRICE}} >
                    {% else %}
                        <input type="text" placeholder="$ MAX " id="maxPrice" class="form-control " value={{MAX_PRICE}} >
                    {% endif %}
                </div>

                <div class="form-group col-sm-3 no-padding">
                    <button class="btn btn-success pull-right btn-block-xs" type="submit">GO
                    </button>
                </div>
 
            </form>
            <div style="clear:both"></div>
        </div>
        <!--/.list-filter-->




        <div class=" list-filter">
            <h5 class="list-title"><strong><a href="#"> Posted Within </a></strong></h5>
            <div class="filter-date filter-content" id=date_filter>
                    <span class="pull-right">
                    <label for="posted_30">30 Days&nbsp;</label>
                        <input type="radio" {{ONE_MONTH_CHECKED}} value="posted_within=30days" id="posted_30" name="posted">
                    </span>
                    <span>
                        <input type="radio" {{ONE_DAY_CHECKED}} value="posted_within=1day" id="posted_1" name="posted">
                        <label for="posted_1">24 Hours</label>
                    </span>
                    <br>
                    <span class="pull-right">
                    <label for="posted_any">Any Time &nbsp;</label>
                        <input type="radio" {{ANY_DAY_CHECKED}} value="posted_within=any" id="posted_any" name="posted">
                        
                    </span>
                    <span>
                        <input type="radio" {{SEVEN_DAY_CHECKED}} value="posted_within=7days" id="posted_7"
                               name="posted">
                        <label for="posted_7">7 Days</label>
                    </span>
            </div>
            <div style="clear:both"></div>
        </div>
        <!--/.categories-list-->


        {% if SELECTED_MAIN_CATEGORY == 1 %}
            {% include 'classified/listing/_automotive_filter.html' %}
        {% endif %}


        {% if SELECTED_MAIN_CATEGORY == 2 %}
            {% include 'classified/listing/_realEstate_filter.html' %}
        {% endif %}


        {% if SELECTED_MAIN_CATEGORY == 3 %}
            {% include 'classified/listing/_employment_filter.html' %}
        {% endif %}


        <div style="clear:both"></div>




    </div>

    <!--/.categories-list-->

</aside>



