{% extends 'classified/base/base.html' %}

{% block title %} 
	Classified Listings 
{% endblock %}


{% block main-content %}




{% if advertisement.main_category.name  == 'Employment' %}
	{% include 'classified/listing/listing_job.html' %}
{% else %}
	{% include 'classified/listing/listing_other.html' %}
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-sm-12 page-content ">
            {% include 'classified/home/featured_listings.html' %}
        </div>
    </div>
</div>

{% endblock %}


