<!-- this (.mobile-filter-sidebar) part will be position fixed in mobile version -->
<aside>
    <div class="inner-box">
        <div class="categories-list  list-filter">
            <h5 class="list-title"><strong><a href="#">All Categories</a></strong></h5>
            <ul class=" list-unstyled">
                <li><a href="sub-category-sub-location.html"><span
                        class="title">Electronics</span><span class="count">&nbsp;8626</span></a>
                </li>
                <li><a href="sub-category-sub-location.html"><span class="title">Automobiles </span><span
                        class="count">&nbsp;123</span></a></li>
                <li><a href="sub-category-sub-location.html"><span
                        class="title">Property </span><span class="count">&nbsp;742</span></a></li>
                <li><a href="sub-category-sub-location.html"><span
                        class="title">Services </span><span class="count">&nbsp;8525</span></a></li>
                <li><a href="sub-category-sub-location.html"><span
                        class="title">For Sale </span><span class="count">&nbsp;357</span></a></li>
                <li><a href="sub-category-sub-location.html"><span
                        class="title">Learning </span><span class="count">&nbsp;3576</span></a></li>
                <li><a href="sub-category-sub-location.html"><span class="title">Jobs </span><span
                        class="count">&nbsp;453</span></a></li>
                <li><a href="sub-category-sub-location.html"><span
                        class="title">Cars & Vehicles</span><span class="count">&nbsp;801</span></a>
                </li>
                <li><a href="sub-category-sub-location.html"><span class="title">Other</span><span
                        class="count">&nbsp;9803</span></a></li>
            </ul>
        </div>
        <!--/.categories-list-->

        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Location</a></strong></h5>
            <ul class="browse-list list-unstyled long-list">
                <li><a href="sub-category-sub-location.html"> Atlanta </a></li>
                <li><a href="sub-category-sub-location.html"> Wichita </a></li>
                <li><a href="sub-category-sub-location.html"> Anchorage </a></li>
                <li><a href="sub-category-sub-location.html"> Dallas </a></li>
                <li><a href="sub-category-sub-location.html">New York </a></li>
                <li><a href="sub-category-sub-location.html"> Santa Ana/Anaheim </a></li>
                <li><a href="sub-category-sub-location.html"> Miami </a></li>
                <li><a href="sub-category-sub-location.html"> Virginia Beach </a></li>
                <li><a href="sub-category-sub-location.html"> San Diego </a></li>
                <li><a href="sub-category-sub-location.html"> Boston </a></li>
                <li><a href="sub-category-sub-location.html"> Houston </a></li>
                <li><a href="sub-category-sub-location.html">Salt Lake City </a></li>
                <li><a href="sub-category-sub-location.html"> Other Locations </a></li>
            </ul>
        </div>
        <!--/.locations-list-->

        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Price range</a></strong></h5>

            <form role="form" class="form-inline ">
                <div class="form-group col-sm-4 no-padding">
                    <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
                </div>
                <div class="form-group col-sm-1 no-padding text-center hidden-xs"> -</div>
                <div class="form-group col-sm-4 no-padding">
                    <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
                </div>
                <div class="form-group col-sm-3 no-padding">
                    <button class="btn btn-default pull-right btn-block-xs" type="submit">GO
                    </button>
                </div>
            </form>
            <div style="clear:both"></div>
        </div>
        <!--/.list-filter-->
        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Seller</a></strong></h5>
            <ul class="browse-list list-unstyled long-list">
                <li><a href="sub-category-sub-location.html"><strong>All Ads</strong> <span
                        class="count">228,705</span></a></li>
                <li><a href="sub-category-sub-location.html">Business <span
                        class="count">28,705</span></a></li>
                <li><a href="sub-category-sub-location.html">Personal <span
                        class="count">18,705</span></a></li>
            </ul>
        </div>
        <!--/.list-filter-->
        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Condition</a></strong></h5>
            <ul class="browse-list list-unstyled long-list">
                <li><a href="sub-category-sub-location.html">New <span class="count">228,705</span></a>
                </li>
                <li><a href="sub-category-sub-location.html">Used <span class="count">28,705</span></a>
                </li>
                <li><a href="sub-category-sub-location.html">None </a></li>
            </ul>
        </div>
        <!--/.list-filter-->
        <div style="clear:both"></div>

        <div class=" list-filter">
            <h5 class="list-title"><strong><a href="#"> Date Posted </a></strong></h5>

            <div class="filter-date filter-content">
                <ul>
                    <li>
                        <input type="radio" value="1" id="posted_1" name="posted">
                        <label for="posted_1">24 hours</label>
                    </li>
                    <li>
                        <input type="radio" value="3" id="posted_3" name="posted">
                        <label for="posted_3">3 days</label>
                    </li>
                    <li>
                        <input type="radio" value="7" id="posted_7" name="posted">
                        <label for="posted_7">7 days</label>
                    </li>
                    <li>
                        <input type="radio" checked="checked" value="30" id="posted_30"
                               name="posted">
                        <label for="posted_30">30 days</label>
                    </li>
                </ul>
            </div>
        </div>
        <!--/.categories-list-->

        <div class="list-filter">
            <h5 class="list-title"><strong><a href="#">Employment Type</a></strong></h5>

            <div class="filter-content filter-employment-type">
                <ul class="browse-list list-unstyled">
                    <li>
                        <input type="checkbox" id="employment_all" value="all" class="emp"
                               checked="checked">
                        <label for="employment_all">All</label>
                    </li>
                    <li>
                        <input type="checkbox" id="employment_jtft" value="jtft"
                               class="emp emp-type">
                        <label for="employment_jtft">Full Time</label>
                    </li>
                    <li>
                        <input type="checkbox" id="employment_jtpt" value="jtpt"
                               class="emp emp-type">
                        <label for="employment_jtpt">Part Time</label>
                    </li>
                    <li>
                        <input type="checkbox" id="employment_jtct" value="jtct"
                               class="emp emp-type">
                        <label for="employment_jtct">Contractor</label>
                    </li>
                    <li>
                        <input type="checkbox" id="employment_jtin" value="jtin"
                               class="emp emp-type">
                        <label for="employment_jtin">Intern</label>
                    </li>
                    <li>
                        <input type="checkbox" id="employment_jtse" value="jtse"
                               class="emp emp-type">
                        <label for="employment_jtse">Seasonal / Temp</label>
                    </li>
                </ul>
            </div>


        </div>
        <!--/.locations-list-->

        <div class="  list-filter">
            <h5 class="list-title"><strong><a href="#">Salary Pay Range</a></strong></h5>


            <div class="filter-salary filter-content ">
                <form role="form" class="form-inline ">
                    <div class="form-group col-sm-4 no-padding">
                        <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
                    </div>
                    <div class="form-group col-sm-1 no-padding text-center hidden-xs"> -</div>
                    <div class="form-group col-sm-4 no-padding">
                        <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
                    </div>
                    <div class="form-group col-sm-3 no-padding">
                        <button class="btn btn-default pull-right btn-block-xs" type="submit">GO
                        </button>
                    </div>
                </form>

                <div class="clearfix"></div>

                <ul class="mt15">
                    <li>
                        <input type="radio" name="pay" id="pay_0" value="0" checked="checked">
                        <label for="pay_0">Any</label>
                    </li>
                    <li>
                        <input type="radio" name="pay" id="pay_20" value="20">
                        <label for="pay_20">$20,000+</label>
                    </li>
                    <li>
                        <input type="radio" name="pay" id="pay_40" value="40">
                        <label for="pay_40">$40,000+</label>
                    </li>
                    <li>
                        <input type="radio" name="pay" id="pay_60" value="60">
                        <label for="pay_60">$60,000+</label>
                    </li>
                    <li>
                        <input type="radio" name="pay" id="pay_80" value="80">
                        <label for="pay_80">$80,000+</label>
                    </li>
                    <li>
                        <input type="radio" name="pay" id="pay_100" value="100">
                        <label for="pay_100">$100,000+</label>
                    </li>
                    <li>
                        <input type="radio" name="pay" id="pay_120" value="120">
                        <label for="pay_120">$120,000+</label>
                    </li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
        <!--/.list-filter-->





        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Specialisms</a></strong></h5>


            <ul class="browse-list list-unstyled long-list">
                <li><a href="job-list.html">Engineering jobs <span class="count">12,578</span> </a>
                </li>
                <li><a href="job-list.html">Estate Agency jobs <span class="count">4,546</span> </a>
                </li>
                <li><a href="job-list.html">Financial Services jobs <span class="count">9,115</span></a>
                </li>
                <li><a href="job-list.html">Banking jobs <span class="count">1,468</span></a></li>
                <li><a href="job-list.html">Security &amp; Safety jobs <span
                        class="count">723</span></a></li>
                <li><a href="job-list.html">Graduate jobs <span class="count">18,514</span></a></li>
                <li><a href="job-list.html">Health &amp; Medicine jobs <span
                        class="count">10,621</span></a></li>
                <li><a href="job-list.html">Training jobs <span class="count">651</span></a></li>
                <li><a href="job-list.html">Hospitality &amp; Catering jobs <span class="count">7,585</span></a>
                </li>
                <li><a href="job-list.html">Human Resources jobs <span
                        class="count">3,768</span></a></li>
                <li><a href="job-list.html">IT &amp; Telecoms jobs <span class="count">17,242</span></a>
                </li>
                <li><a href="job-list.html">IT Contractor jobs <span class="count">2,102</span></a>
                </li>
            </ul>

        </div>
        <!--/.list-filter-->

        <div class="locations-list  list-filter">
            <h5 class="list-title"><strong><a href="#">Location</a></strong></h5>
            <ul class="browse-list list-unstyled long-list">
                <li><a href="job-list.html">New York</a></li>
                <li><a href="job-list.html">South West</a></li>
                <li><a href="job-list.html">South East</a></li>
                <li><a href="job-list.html">East England</a></li>
                <li><a href="job-list.html">East Midlands</a></li>
                <li><a href="job-list.html">West Midlands</a></li>
                <li><a href="job-list.html">North East</a></li>
                <li><a href="job-list.html">North West</a></li>
                <li><a href="job-list.html">Scotland</a></li>
                <li><a href="job-list.html">Wales</a></li>
                <li><a href="job-list.html">Northern Ireland</a></li>
                <li><a href="job-list.html">England</a></li>
                <li><a href="job-list.html">UK</a></li>
                <li><a href="job-list.html"> Other Locations </a></li>
            </ul>
        </div>
        <!--/.locations-list-->

        <div style="clear:both"></div>
    </div>

    <!--/.categories-list-->

</aside>