


                    <div class="category-list">
                        <div class="tab-box clearfix ">

                            <!-- Nav tabs -->
<!--                             <div class="hidden-lg hidden-md hidden-sm col-lg-12  box-title no-border">
                                <div class="inner">
                                    <h2><span> Software </span> Engineer
                                        <small> 1000+ Jobs Found</small>


                                    </h2>
                                </div>
                            </div> -->

                            <!-- Mobile Filter bar -->
                            <div class="mobile-filter-bar col-lg-12  ">
                                <ul class="list-unstyled list-inline no-margin no-padding">
                                    <li class="filter-toggle">
                                        <a class="">
                                            <i class="  icon-th-list"></i>
                                            Filters
                                        </a>
                                    </li>
                                    <li>


                                        <div class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle"><i class="caret "></i>
                                                Short by </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="" rel="nofollow">Relevance</a></li>
                                                <li><a href="" rel="nofollow">Date</a></li>
                                                <li><a href="" rel="nofollow">Company</a></li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <div class="menu-overly-mask"></div>
                            <!-- Mobile Filter bar End-->


                            <div class="tab-filter hide-xs">

                                <select class="selectpicker" data-style="btn-select" data-width="auto">
                                    <option value="Short by">Short by</option>
                                    <option value="Relevance">Relevance</option>
                                    <option value="Company">Company</option>
                                </select>
                            </div>
                            <!--/.tab-filter-->

                        </div>
                        <!--/.tab-box-->

                        <div class="listing-filter">
                            <div class="pull-left col-sm-6 col-xs-12">
                                <div class="breadcrumb-list text-center-xs">
                                    <a class="jobs-s-tag" rel="nofollow" title="Software Architect">Software
                                        Engineer </a>
                                    in <a rel="nofollow" class="jobs-s-tag"> New York</a></div>
                            </div>
<!--                             <div class="pull-right col-sm-6 col-xs-12 text-left text-left-xs listing-view-action">
                                <a class="clear-all-button text-muted">Clear all</a>
                            </div> -->
                            <div style="clear:both"></div>
                        </div>
                        <!--/.listing-filter-->


    <div class="adds-wrapper">
        <div class="item-list">


            <div class="col-sm-2 no-padding photobox">
                <div class="add-image"><span class="photo-count"><i
                        class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
                        class="thumbnail no-margin" src="images/item/tp/Image00015.jpg"
                        alt="img"></a></div>
            </div>
            <!--/.photobox-->
            <div class="col-sm-7 add-desc-box">
                <div class="add-details">
                    <h5 class="add-title"><a href="ads-details.html">
                        Brand New Samsung Phones </a></h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                  data-toggle="tooltip" data-placement="right"
                                                  title="Business Ads">B </span> <span class="date"><i
                            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span></div>
            </div>
            <!--/.add-desc-box-->
            <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> $ 320 </h2>
                <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i>
                    <span>Top Ads</span> </a> <a class="btn btn-default  btn-sm make-favorite"> <i
                    class="fa fa-heart"></i> <span>Save</span> </a></div>
            <!--/.add-desc-box-->
        </div>
        <!--/.item-list-->

        <div class="item-list">
            <div class="cornerRibbons featuredAds">
                <a href="#"> Featured Ads</a>
            </div>

            <div class="col-sm-2 no-padding photobox">
                <div class="add-image"><span class="photo-count"><i
                        class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
                        class="thumbnail no-margin" src="images/item/tp/Image00008.jpg"
                        alt="img"></a></div>
            </div>
            <!--/.photobox-->
            <div class="col-sm-7 add-desc-box">
                <div class="add-details">
                    <h5 class="add-title"><a href="ads-details.html">
                        Sony Xperia dual sim 100% brand new </a></h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                  data-toggle="tooltip" data-placement="right"
                                                  title="Business Ads">B </span> <span class="date"><i
                            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span></div>
            </div>
            <!--/.add-desc-box-->
            <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> $ 250 </h2>
                <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i>
                    <span>Featured Ads</span> </a> <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span> </a></div>
            <!--/.add-desc-box-->
        </div>

        <div class="item-list">
            <div class="cornerRibbons urgentAds">
                <a href="#"> Urgent</a>
            </div>
            <div class="col-sm-2 no-padding photobox">
                <div class="add-image"><span class="photo-count"><i
                        class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
                        class="thumbnail no-margin"
                        src="images/item/FreeGreatPicture.com-46404-google-drops-nexus-4-by-100-offers-15-day-price-protection-refund.jpg"
                        alt="img"></a></div>
            </div>
            <!--/.photobox-->
            <div class="col-sm-7 add-desc-box">
                <div class="add-details">
                    <h5 class="add-title"><a href="ads-details.html"> Google drops Nexus 4 </a></h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                  data-toggle="tooltip" data-placement="right"
                                                  title="Business Ads">B </span> <span class="date"><i
                            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span></div>
            </div>
            <!--/.add-desc-box-->
            <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> $ 150 </h2>
                <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i>
                    <span>Urgent</span> </a>
                <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span>
                </a></div>
            <!--/.add-desc-box-->
        </div>
        <!--/.item-list-->

        <!--/.item-list-->
        <div class="item-list">

            <div class="col-sm-2 no-padding photobox">
                <div class="add-image"><span class="photo-count"><i
                        class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
                        class="thumbnail no-margin" src="images/item/tp/Image00014.jpg"
                        alt="img"></a></div>
            </div>
            <!--/.photobox-->
            <div class="col-sm-7 add-desc-box">
                <div class="add-details">
                    <h5 class="add-title"><a href="ads-details.html"> Samsung Galaxy S Dous (Brand
                        New/ Intact Box) With 1year Warranty </a></h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                  data-toggle="tooltip" data-placement="right"
                                                  title="Business Ads">B </span> <span class="date"><i
                            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span></div>
            </div>
            <!--/.add-desc-box-->
            <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> $ 230</h2>
                <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span>
                </a></div>
            <!--/.add-desc-box-->
        </div>
        <!--/.item-list-->
        <div class="item-list">
            <div class="col-sm-2 no-padding photobox">
                <div class="add-image"><span class="photo-count"><i
                        class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
                        class="thumbnail no-margin" src="images/item/tp/Image00003.jpg"
                        alt="img"></a></div>
            </div>
            <!--/.photobox-->
            <div class="col-sm-7 add-desc-box">
                <div class="add-details">
                    <h5 class="add-title"><a href="ads-details.html"> MSI GE70 Apache Pro-061 17.3"
                        Core i5-4200H/8GB DDR3/NV GTX860M Gaming Laptop </a></h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                  data-toggle="tooltip" data-placement="right"
                                                  title="Business Ads">B </span> <span class="date"><i
                            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span></div>
            </div>
            <!--/.add-desc-box-->
            <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> $ 400 </h2>
                <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span>
                </a></div>
            <!--/.add-desc-box-->
        </div>
        <!--/.item-list-->
        <div class="item-list">
            <div class="col-sm-2 no-padding photobox">
                <div class="add-image"><span class="photo-count"><i
                        class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
                        class="thumbnail no-margin" src="images/item/tp/Image00022.jpg"
                        alt="img"></a></div>
            </div>
            <!--/.photobox-->
            <div class="col-sm-7 add-desc-box">
                <div class="add-details">
                    <h5 class="add-title"><a href="ads-details.html"> Apple iPod touch 16 GB 3rd
                        Generation </a></h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                  data-toggle="tooltip" data-placement="right"
                                                  title="Business Ads">B </span> <span class="date"><i
                            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span></div>
            </div>
            <!--/.add-desc-box-->
            <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> $ 150 </h2>
                <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span>
                </a></div>
            <!--/.add-desc-box-->
        </div>
        <!--/.item-list-->
        <div class="item-list">
            <div class="col-sm-2 no-padding photobox">
                <div class="add-image"><span class="photo-count"><i
                        class="fa fa-camera"></i> 2 </span> <a href="ads-details.html"><img
                        class="thumbnail no-margin"
                        src="images/item/FreeGreatPicture.com-46405-google-drops-price-of-nexus-4-smartphone.jpg"
                        alt="img"></a></div>
            </div>
            <!--/.photobox-->
            <div class="col-sm-7 add-desc-box">
                <div class="add-details">
                    <h5 class="add-title"><a href="ads-details.html"> Google drops Nexus 4 by $100,
                        offers 15 day price protection refund </a></h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere"
                                                  data-toggle="tooltip" data-placement="right"
                                                  title="Business Ads">B </span> <span class="date"><i
                            class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                            class="category">Electronics </span>- <span class="item-location"><i
                            class="fa fa-map-marker"></i> New York </span> </span></div>
            </div>
            <!--/.add-desc-box-->
            <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> $ 150 </h2>
                <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span>
                </a></div>
            <!--/.add-desc-box-->
        </div>
        <!--/.item-list-->


    </div>
    <!--/.adds-wrapper-->

    <div class="tab-box  save-search-bar text-center"><a href=""> <i class=" icon-star-empty"></i>
        Save Search </a></div>
</div>


<div class="pagination-bar text-center">
    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"> ...</a></li>
        <li><a class="pagination-btn" href="#">Next &raquo;</a></li>
    </ul>
</div>
<!--/.pagination-bar -->



