{% extends 'classified/base.html' %}

{% block title %} 
	Add2Z Classifieds 
{% endblock %}


{% block main-content %}



	<div class="row">
		<div class="col-sm-12 page-content ">
			{% include 'classified/featured_listings.html' %}
		</div>

		<div class="col-sm-12 page-content">
			{% include 'classified/category_browse.html' %}
		</div>

		<div class="col-sm-12 page-sidebar">
			{% include 'classified/directory_listings.html' %}
		</div>
	</div> <!-- /.row-->

{% endblock %}


{% block sponsor-content %}
	{% include 'classified/sponsors.html' %}	
{% endblock %}
