{% extends 'classified/base/base.html' %}

{% block title %} 
	Add2Z Classifieds 
{% endblock %}




{% block main-content %}

<div class="container">

	<div class="row">
		<div class="col-sm-12 page-content ">
			{% include 'classified/home/featured_listings.html' %}
		</div>

		<div class="col-sm-12 page-content">
			{% include 'classified/home/category_browse.html' %}
		</div>

		<div class="col-sm-12 page-sidebar">
			{% include 'classified/home/directory_listings.html' %}
		</div>
	</div> <!-- /.row-->

</div>
{% endblock %}



{% block sponsor-content %}
	{% include 'classified/home/sponsors.html' %}	
{% endblock %}
